* {
  margin: 0%;
  padding: 0%;
}
/* body {
  /* background-image: url("bgi2.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-blend-mode: color; */
h1 {
  text-align: center;
  background-color: blue;
  color: white;
  font-size: 50px;
}
#container {
  display: flex;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  height: 500px;
  /* background-image: url("/bgi2.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
}
.subject {
  text-decoration: none;
  /* text-align: center; */
  font-size: 25px;
  color: inherit;
}
#table {
  border: 2px solid black;
  height: 500px;
}
.s {
  background-color: blue;
  text-align: center;
  color: white;
}
#bottom {
  background-color: black;
  color: white;
  height: 70px;
  /* padding-bottom: 5px; */
}
.p {
  text-align: center;
  text-decoration: none;
}
a {
  text-decoration: none;
}
